---
import Blank from '../layouts/blank.astro'
---

<Blank title="Not Found">
    <main class="*fcc min-h-full">
        <div class="px-4 py-6">
            <div class="*fcc">
                <p class="border-r pr-4 text-lg text-slate-500 tracking-wider">404</p>
                <p class="pl-4 text-lg text-slate-500 tracking-wider uppercase">Not Found</p>
            </div>
        </div>
    </main>
</Blank>
